.HomePage {
  @include Page;
  overflow-x: hidden;
  padding-top: 0px;
  position: relative;
  .BannerBox{
    position: relative;
    margin-bottom: 20px;

    .Banner {
      height: auto;
      width: 100%;
      &.Expanded {
        height: 100vh;
        width: auto;
      }
    }
    .OverText{
      position: absolute;
      top: 265px;
      left: 110px;
      color: white;
      width: 400px;
      font-size: 18px;
      text-align: left;
      font-family: "Abhaya Libre", serif;

      &.SmallerScreen{
       display: none;
      }
    }
  }
  .News {
    box-sizing: border-box;
    font-family: "Inclusive Sans", sans-serif;
    width: 70%;
    padding: 35px 0;
    text-align: left;
    border-bottom: 1px solid $transparent-pink;
    
    .Title{
      font-size: 20px;
      font-weight: 800;
    }
    .Content{
      padding: 10px 20px;
      background-color: $light-pastel;
      border-radius: 20px;
      margin: 10px 0;
    }
    .EventFooter{
      text-align: right;
      font-size: 14px;
    }
  }
  .Collab {
    width: 300px;
    height: 60px;
    background-color: $primary-pastel;
    text-align: center;
    color: white;

    &:hover {
      background-color: $secondary-gold;
      color: $primary-pastel;
    }
  }
  .Collab{
    margin-bottom: 50px;
  }
  .SubIntro {
    box-sizing: border-box;
    font-family: "Inclusive Sans", sans-serif;
    width: 70%;
    padding: 35px 0;
    text-align: center;
  }
}

 .NewsBanner {
   margin-top: -15px;
   background-color: $light-pastel;
   width: 70%;
   height: 75px;
   display: flex;
   flex-direction: row;
   color: white;
   padding: 5px 10px;
   padding-top: 10px;
   box-sizing: border-box;
   border-radius: 10px;
   z-index: 100;
   .Name {
     font-size: 20px;
     font-family: "Abhaya Libre", serif;
     font-weight: 700;
     margin-right: 15px;
     padding-top: 3px;
     line-height: 20px;
   }
   .Info {
     display: flex;
     flex-direction: column;
     font-size: 14px;
   }
 }

 .TagBox {
   z-index: 110;
   width: 70%;
   height: 15px;
   margin-top: -35px;
   display: flex;
   justify-content: flex-start;
   margin-left: 0px;
   .TagBox {
    z-index: 110;
     background-color: $primary-gold;
     box-shadow: 3px 3px 3px gray;
     border-radius: 20px;
     height: 25px;
     color: white;
     width: 150px;
     padding-left: 20px;
   }
 }