.HomePage {
  @include Page;
  .Banner {
    width: 100vw;
    height: auto;
  }
  .TagBox {
    z-index: 100;
    width: 100vw;
    height: 15px;
    margin-top: -25px;
    display: flex;
    justify-content: flex-start;
    .TagBox {
      background-color: $primary-gold;
      height: 15px;
      color: white;
      width: 115px;
      margin-left: 18px;
    }
  }
  .NewsBanner {
    margin-top: -13px;
    background-color: $light-pastel;
    width: calc(100vw - 20px);
    height: 75px;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 5px 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    .Name {
      font-size: 20px;
      font-family: "Abhaya Libre", serif;
      font-weight: 700;
      margin-right: 15px;
      padding-top: 3px;
      line-height: 20px;
    }
    .Info {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  }
  .Intro {
    box-sizing: border-box;
    font-family: "Inclusive Sans", sans-serif;
    width: 100%;
    padding: 35px 22px;
    text-align: center;
  }
  .Reel {
    @include Centered;
    width: 100%;
    .File {
      width: 300px;
      height: 250px;
      background-color: rgb(215, 215, 215);
      text-align: center;
    }
  }
  .SubIntro {
    box-sizing: border-box;
    font-family: "Inclusive Sans", sans-serif;
    width: 100%;
    padding: 35px 22px;
    text-align: center;
  }
}
