$primary-pink: #d8a2c2;
$primary-pastel: #af7e80;
$primary-gold: #e0b598;
$primary-orange: #ffc0b2;

$secondary-pink: #e281b3;
$secondary-gold: #f9dcaa;

$light-pastel: #cda3ab;
$light-pink: #f2e6ea;
$light-gold: #f9edd8;

$transparent-gold: #f9edd886;
$transparent-pink: #d8a2c278;

$darker-pastel: #694243;
